{% extends "layout.html" %}

{% block content %}
<div class="bg-gray-200">
    <div class="flex items-center justify-center h-screen">
        <div class="sm:w-full sm:max-w-md">
            {% include "macros/_alerts.html" %}
            <div class="mb-6 space-y-4 text-center">
                <h1 class="text-2xl font-bold">Reset your password</h1>
            </div>

            <div class="px-4 py-8 mt-8 bg-white rounded-lg shadow sm:px-10">

                <form action="{{ url_for('auth.reset_request')}}" method="post">
                    {{ form.csrf_token }}

                    <m:render_field form.password />
                    <m:render_field form.confirm mt=6 />
                    <m:render_submit form.submit mt=8 />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}